# Shared by temporal + temporal-ui.
DB=postgres12
DB_PORT=5432
POSTGRES_USER=temporal
POSTGRES_PWD=temporal
POSTGRES_SEEDS=temporal-postgres

# temporal-ui
TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_CORS_ORIGINS=http://localhost,http://localhost:80
